<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.optilogistic.rental.ui.category"
            name="%category.name">
      </category>
      <view
            category="com.optilogistic.rental.ui.category"
            class="com.optilogistic.rental.ui.views.RentalPropertyView"
            icon="icons/Rentals.png"
            id="com.optilogistic.rental.ui.propertyView"
            name="%view.name"
            restorable="true">
      </view>
      <view
            category="com.optilogistic.rental.ui.category"
            class="com.optilogistic.rental.ui.views.RentalAgencyView"
            icon="icons/Agency.png"
            id="com.optilogistic.rental.ui.rentalAgencyView"
            name="%view.name.0"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.optilogistic.rental.ui.perspective.RentalPerspective"
            icon="icons/optional.gif"
            id="com.optilogistic.rental.ui.perspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.optilogistic.rental.ui.pref.RentalColorPreferences"
            id="com.optilogistic.rental.ui.colorprefpage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.optilogistic.rental.ui.pref.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.optilogistic.rental.ui.helloWorldCommand"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="HelloWorldHandler"
            commandId="com.optilogistic.rental.ui.helloWorldCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <command
               commandId="com.optilogistic.rental.ui.helloWorldCommand"
               label="%command.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.optilogistic.rental.ui.rentalAgencyView?after=additions">
         <command
               commandId="com.optilogistic.rental.ui.helloWorldCommand"
               label="%command.label.0"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.ResourceNavigator?after=additions">
         <command
               commandId="com.optilogistic.rental.ui.helloWorldCommand"
               label="%command.label.1"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
