<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.optilogistic.rental.ui.category"
            name="Rental">
      </category>
      <view
            category="com.optilogistic.rental.ui.category"
            class="com.optilogistic.rental.ui.views.RentalPropertyView"
            icon="icons/Rentals.png"
            id="com.optilogistic.rental.ui.propertyView"
            name="Rental Property"
            restorable="true">
      </view>
      <view
            category="com.optilogistic.rental.ui.category"
            class="com.optilogistic.rental.ui.views.RentalAgencyView"
            icon="icons/Agency.png"
            id="com.optilogistic.rental.ui.rentalAgencyView"
            name="Rental Agency"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.optilogistic.rental.ui.perspective.RentalPerspective"
            icon="icons/optional.gif"
            id="com.optilogistic.rental.ui.perspective"
            name="Rental Perspective">
      </perspective>
      <perspective
            class="com.optilogistic.rental.ui.perspectives.RentalPerspective"
            id="com.optilogistic.rental.ui.perspectives.RentalPerspective"
            name="New Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.optilogistic.rental.ui.pref.RentalColorPreferences"
            id="com.optilogistic.rental.ui.colorprefpage"
            name="Colors">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.optilogistic.rental.ui.pref.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
